form[name=eme-fs-form] {
	display: block;
	overflow: hidden;
	width: 100%;
}

form[name=eme-fs-form] > div,
form[name=eme-fs-form] > fieldset {
	margin-bottom: 1.5em;
} 

form[name=eme-fs-form] #event_name, 
form[name=eme-fs-form] #event_contactperson_email_body,
form[name=eme-fs-form] #event_url,
form[name=eme-fs-form] #location_name,
form[name=eme-fs-form] #location_address,
form[name=eme-fs-form] #location_address1,
form[name=eme-fs-form] #location_address2,
form[name=eme-fs-form] #location_city,
form[name=eme-fs-form] #location_state,
form[name=eme-fs-form] #location_zip,
form[name=eme-fs-form] #location_country,
form[name=eme-fs-form] #location_town {
	width: 96%;
}

form[name=eme-fs-form] .eme_fs_notes_textarea,
form[name=eme-fs-form] #wp-event_notes-wrap,
form[name=eme-fs-form] #wp-location_description-wrap {
	width: 96%;
}

form[name=eme-fs-form] #event_notes {
	height: 120px;
}

form[name=eme-fs-form] #submit{
	width: 200px;
	text-align: center;
}

form[name=eme-fs-form] label {
	font-weight: normal;
	font-size: small;
	padding: 0;
}

form[name=eme-fs-form] label small,
form[name=eme-fs-form] legend small{
	font-size: smaller;
	color: gray;
}

form[name=eme-fs-form] fieldset {
	border: 1px solid #F1F1F1;
	width: 96%;
	padding: 2px;
}

form[name=eme-fs-form] fieldset fieldset{
	width: 47%;
	float: left;
	margin: 1%;
}

form[name=eme-fs-form] span.error {
	font-size: smaller;
	font-weight: bold;
	color: #C00;
}

form[name=eme-fs-form] div.eme-frontendedit-location-map {
	width: 96%;
	height: 400px;
	display: none;
}

/* Autocomplete */
.ui-autocomplete {
   list-style:none; width:400px; background:#fff;
   border:1px solid #ccc; border-radius:3px;
   -webkit-box-shadow: 4px 10px 15px -3px rgba(0,0,0,.05), 1px 2px 4px -1px rgba(0,0,0,.1), -2px -1px 5px rgba(0,0,0,.025);
   -moz-box-shadow:4px 10px 15px -3px rgba(0,0,0,.05), 1px 2px 4px -1px rgba(0,0,0,.1), -2px -1px 5px rgba(0,0,0,.025);
   box-shadow:4px 10px 15px -3px rgba(0,0,0,.05), 1px 2px 4px -1px rgba(0,0,0,.1), -2px -1px 5px rgba(0,0,0,.025);
}
.ui-autocomplete li { }
.ui-autocomplete li a { display: block; padding: .5em 1em; border-radius:3px; cursor: pointer; text-decoration: none; line-height:1em; }
.ui-autocomplete li a:hover { background:#f8f8f8; text-decoration: none; }
