div.ftable-main-container  {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}
ul.ftable-column-select-list {
    font-size: 1.1em;
}
div.ftable-main-container table.ftable thead th.ftable-column-header div.ftable-column-header-container {
    color: #555;
}

div.ftable-main-container table.ftable tbody>tr.ftable-row-even,
div.ftable-main-container table.ftable tbody>tr {
    background-color: #fff;
}

/* the add/edit form */
.ftable-dialog-form {
    display: block;
    -moz-column-gap:40px;
    /* Firefox */
    -webkit-column-gap:40px;
    /* Safari and Chrome */
    column-gap:40px;
    -moz-column-count:2;
    /* Firefox */
    -webkit-column-count:2;
    /* Safari and Chrome */
    column-count:2;
}
.ftable-input-field-container {
    break-inside: avoid; /* Prevent breaking across columns */
    page-break-inside: avoid; /* Older browsers, mainly print */
    -webkit-column-break-inside: avoid; /* Safari, older Chrome */
}
@media (max-width: 600px) {
    .ftable-dialog-form {
	-moz-column-count:1;
	-webkit-column-count:1;
        column-count: 1;
    }
    .ftable-toolbar-item-csv {display:none !important;}
    .ftable-toolbar-item-print {display:none !important;}
    .ftable-page-info {display:none !important;}
}
@media (max-width: 768px) {
    .ftable th, .ftable td {
        padding: 4px;
        font-size: 12px;
    }
    .ftable-page-list {display:none !important;}
}

/* when selecting a row */
div.ftable-main-container table.ftable tbody>tr.ftable-row-selected {
    background-color: #F2F5A9;
    text-shadow: none;
    color: #222;
}
/* when hovering over a (selected) row */
div.ftable-main-container table.ftable tbody>tr.ftable-data-row:hover,
div.ftable-main-container table.ftable tbody>tr.ftable-row-selected:hover {
    background-color: #AAF5F3;
} 

div.ftable-main-container div.ftable-title div.ftable-title-text {
    font-size: 1.1em;
    text-shadow: none;
}

div.ftable-main-container div.ftable-title div.ftable-toolbar .ftable-toolbar-item {
    font-size: 1.1em;
    background: #e6e6e6;
    color: #555;
    line-height: 20px;
    margin-bottom: 2px;
}

.ftable-column-header, .ftable-toolbarsearch-reset {
    white-space: nowrap;
}
div.ftable-main-container div.ftable-bottom-panel {
    font-size: 1em;
    background: #e6e6e6;
    color: #555;
}
div.ftable-main-container table.ftable {
    font-size: 1em;
}
div.ftable-main-container a {
   text-decoration: none;
}
div.ftable-main-container table.ftable tbody > tr > td {
    border: 1px solid #ddd;
    padding: 1px 5px 1px 5px;
}
.ftable-data-row a {
    color: #0073aa !important;
}
.ftable input[type="checkbox"] {
    margin: 0px !important;
}

form.ftable-dialog-form div.ftable-input-field-container {
	border-bottom: none;
}
